/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #e50914;
}

h1 {
  color: white;
  text-shadow: -2px 4px 8px rgba(0,0,0,0.82); #0f1736;
}

.genero-container {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #0f1736;
  background-color: #0f1736;
  box-shadow: -15px 19px 19px -2px white;

}


#listaAccion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

 #listaAccion li{
  font-size: 20px;
  font-weight: 20px;
  color: white;
  list-style: none;
  text-align: center;
  width: 150px;
}
#listaAccion li img{
 box-shadow: -3px 10px 21px -1px #e50914;
 border-radius: 15px;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
#listaAccion li img:hover {
  cursor: pointer;
  transform: scale(1.5);
}
#listaThriller {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
}
#listaThriller li{
  font-size: 20px;
  font-weight: 20px;
  color: white;
  list-style: none;
  text-align: center;
  width: 150px;
}
#listaThriller li img{
  box-shadow: -3px 10px 21px -1px #e50914;
  border-radius: 15px;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
#listaThriller li img:hover {
  cursor: pointer;
  transform: scale(1.5);
}
#listaAventura {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

#listaAventura li {
  font-size: 20px;
  font-weight: 20px;
  color: white;
  list-style: none;
  text-align: center;
  width: 150px;
}
#listaAventura li img {
  box-shadow: -3px 10px 21px -1px #e50914;
  border-radius: 15px;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
#listaAventura li img:hover {
  cursor: pointer;
  transform: scale(1.5);


}
h2 {
  color: #e50914;
  font-weight: 50px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-shadow: -2px 4px 8px black;
}


